body {
    margin: 0;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.cartIconWrap {
    position: relative;
    cursor: pointer;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 640px) {
    .products {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.product-item {
    background: #f8f8f8;
}

.product-item img {
    width: 100%;
    display: block;
}

.product-item {
    padding: 23px 16px 20px;
}

.buy-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #f16d7f;
    cursor: pointer;
    border-radius: 10px;
}

.footer {
    background: #222224;
    padding: 43px 20px 10px;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 32px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
}